<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="room_Rent" >
	<insert id="room_Insert" parameterType="roomvo">
		insert into room values(Room_seq.nextVal, #{room_name}, #{room_loc}, #{room_limit})
	</insert>
 	<insert id="rent_Insert" parameterType="rentvo">
 		insert into rent values(Rent_seq.nextVal, #{rent_reason},
 		#{rent_date_start}, #{rent_date_end}, #{room_num}, #{mem_code})
 	</insert>
 	<select id="room_List" resultType="roomvo">
 		select room_num, room_name, room_loc, room_limit from room order by 2 asc
 	</select>
 	<select id="rent_List" resultType="rentvo" parameterType="String">
 		select rent_num, rent_reason, rent_date_start, rent_date_end,
 		room_num, mem_code from Rent where mem_code = #{mem_code} order by 3 asc
 	</select>
 	<select id="rent_manage_List" resultType="rentvo">
 		select re.rent_num, re.rent_reason, re.rent_date_start,
 		re.rent_date_end, ro.room_name, ro.room_loc, mem.mem_name
		from Rent re, Room ro, Member mem
		where re.mem_code = mem.mem_code and re.room_num = ro.room_num
		order by 3 asc
 	</select>
 	<select id="rent_Detail" resultType="rentvo" parameterType="String">
 		select re.rent_num, re.rent_reason, re.rent_date_start, re.rent_date_end,
 		ro.room_name, mem.mem_name
		from Rent re, Room ro, Member mem
		where re.rent_date_start like #{rent_date_start} || '%'
		and re.mem_code = mem.mem_code and re.room_num = ro.room_num
		order by 3 asc
 	</select>
 	<select id="rent_Modify_Detail" resultType="rentvo" parameterType="int">
 		select re.rent_num, re.rent_reason, re.rent_date_start,
 		re.rent_date_end, ro.room_name, mem.mem_name
		from Rent re, Room ro, Member mem
		where re.rent_num = #{rent_num} 
		and re.mem_code = mem.mem_code and re.room_num = ro.room_num
 	</select>
 	<select id="room_Modify_Detail" resultType="roomvo" parameterType="int">
 		select room_num, room_name, room_loc, room_limit from room where room_num = #{room_num}
 	</select>
 	<update id="rent_Modify" parameterType="rentvo">
 		update rent set rent_reason = #{rent_reason}, rent_date_start = #{rent_date_start},
 		rent_date_end = #{rent_date_end}, room_num = #{room_num} where rent_num = #{rent_num}
 	</update>
 	<update id="room_Modify" parameterType="roomvo">
 		update room set room_name = #{room_name}, room_loc = #{room_loc},
 		room_limit = #{room_limit} where room_num = #{room_num}
 	</update>
 	<delete id="rent_Delete" parameterType="int">
 		delete from rent where rent_num = #{rent_num}
 	</delete>
 	<delete id="room_Delete" parameterType="int">
 		delete from room where room_num = #{room_num}
 	</delete>
 	<select id="room_Search" resultType="roomvo" parameterType="svo">
		select room_num, room_name, room_loc, room_limit from room
		<if test="searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						room_name like '%'|| #{ searchValue} || '%'
					</when>
					<when test="searchType == 2">
						room_loc like '%'|| #{ searchValue} || '%'
					</when>
					<otherwise></otherwise>
				</choose>
			</where>
		</if>
		order by 2 asc
	</select>
</mapper>